

<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../www/css/theme.min.css" rel="stylesheet">
		<link href="../www/css/bootstrap-select.min.css" rel="stylesheet">

		<!-- Kleine CSS fixes -->
		<link href="../www/css/fixes.css" rel="stylesheet">

		<title>Home</title>
	</head>
	<body>

		<!-- Scripts voor extra functionaliteit van Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="../www/js/bootstrap.min.js"></script>
		<script src="../www/js/bootstrap-select.min.js"></script>

		<!-- Navbar containers -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">

				<!-- Navbar logo -->
				<div class="navbar-header">
					<img class="navbar-brand" src="../www/images/logo.jpg" alt="EenmaalAndermaal">
					<button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#loginNav">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Inklappend menu voor kleine schermen -->
				<div class="collapse navbar-collapse" id="loginNav">

					<!-- Zoekbalk/filters -->
					<div class="navbar-left">
						<form class="navbar-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Zoek">
								<div class="selectmenu">
									<select class="form-control selectpicker">
										<option class="hide" value="" disabled selected>Categorieen</option>
										<option value="cat1">Categorie 1</option>
										<option value="cat2">Categorie 2</option>
										<option value="cat3">Categorie 3</option>
										<option value="cat4">Categorie 4</option>
										<option value="cat5">Categorie 5</option>
										<option value="cat6">Categorie 6</option>
										<option value="cat7">Categorie 7</option>
										<option value="cat8">Categorie 8</option>
									</select>
								</div>
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						</form>
					</div>

					<!-- Login/registreer/help knoppen -->
					<div class="navbar-right">
						<ul class="nav navbar-nav">
							<li><a href="#">Log in</a></li>
							<li><a href="#">Registreer</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</div>

				</div>

			</div>
		</nav>
		
		<!-- Hoofdpagina container -->
		<div class="container">

			<!-- Product van de dag -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4><a href="#" class="panelheader-link">Product van de dag</a></h4>
						</div>
						<div class="panel-body text-center">
							<img src="../www/images/box.png" class="img-thumbnail img-responsive img-thumbnail-primary" alt="img"><br/>
						</div>
						<div class="panel-footer">
							<table class="table table-responsive">
								<tr>
									<th class="text-center">&euro;100,-</th>
									<th class="text-danger text-center">0:39:20</th>
									<th class="text-center"><a href="#" class="btn btn-xs btn-danger">Bied</a></th>
								</tr>
							</table>
						</div>
					</div>
				</div>

			</div>

			<!-- Overige producten -->
			<div class="row">

				<!-- Product 1 -->
				<div class="col-sm-3">
					<div class="panel panel-default">
						<div class="panel-heading"><a href="#" class="panelheader-link">Titel</a></div>
						<div class="panel-body text-center">
							<img src="../www/images/box.png" class="img-thumbnail img-responsive img-thumbnail-overview" alt="img"><br/>
						</div>
						<div class="panel-footer">
							<table class="table table-responsive">
								<tr>
									<th class="text-center">&euro;100,-</th>
									<th class="text-danger text-center">0:39:20</th>
									<th class="text-center"><a href="#" class="btn btn-xs btn-danger">Bied</a></th>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!-- Product 2 -->
				<div class="col-sm-3">
					<div class="panel panel-default">
						<div class="panel-heading"><a href="#" class="panelheader-link">Titel</a></div>
						<div class="panel-body text-center">
							<img src="../www/images/box.png" class="img-thumbnail img-responsive img-thumbnail-overview" alt="img"><br/>
						</div>
						<div class="panel-footer">
							<table class="table table-responsive">
								<tr>
									<th class="text-center">&euro;100,-</th>
									<th class="text-danger text-center">0:39:20</th>
									<th class="text-center"><a href="#" class="btn btn-xs btn-danger">Bied</a></th>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!-- Product 3 -->
				<div class="col-sm-3">
					<div class="panel panel-default">
						<div class="panel-heading"><a href="#" class="panelheader-link">Titel</a></div>
						<div class="panel-body text-center">
							<img src="../www/images/box.png" class="img-thumbnail img-responsive img-thumbnail-overview" alt="img"><br/>
						</div>
						<div class="panel-footer">
							<table class="table table-responsive">
								<tr>
									<th class="text-center">&euro;100,-</th>
									<th class="text-danger text-center">0:39:20</th>
									<th class="text-center"><a href="#" class="btn btn-xs btn-danger">Bied</a></th>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!-- Product 4 -->
				<div class="col-sm-3">
					<div class="panel panel-default">
						<div class="panel-heading"><a href="#" class="panelheader-link">Titel</a></div>
						<div class="panel-body text-center">
							<img src="../www/images/box.png" class="img-thumbnail img-responsive img-thumbnail-overview" alt="img"><br/>
						</div>
						<div class="panel-footer">
							<table class="table table-responsive">
								<tr>
									<th class="text-center">&euro;100,-</th>
									<th class="text-danger text-center">0:39:20</th>
									<th class="text-center"><a href="#" class="btn btn-xs btn-danger">Bied</a></th>
								</tr>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="container">
			<footer class="footer text-right">
				<span class="text-muted">&copy; 2016 Ubera</span>
			</footer>
		</div>

	</body>
</html>
